<h2>Register User</h2>

<form (ngSubmit) = "addUser(nf)" #nf = ngForm>
Name: <input type="text" name='uname' ngModel #un = ngModel required/>
<div *ngIf = "un.errors?.['required']">Name cant be Blank</div>

Password: <input type="password" name="pass" ngModel #ps = ngModel required minlength='6' password/>
<div *ngIf = 'ps.invalid'>
    <div *ngIf = "ps.errors?.['required']">Password cant be Blank</div>
    <div *ngIf = "ps.errors?.['minlength']">Password must be greater than 6 characters</div>
</div>

Email: <input type="text" name="email" ngModel #em = ngModel required email/>
<div *ngIf = 'em.invalid'>
    <div *ngIf = "em.errors?.['required']">Email cant be Blank</div>
    <div *ngIf = "em.errors?.['email']">Email must be Correct</div>
</div>

City: <input type="text" name="city" ngModel/>

Department: <input type="text" name="dept" ngModel/>

<button [disabled] = 'nf.invalid'>Add User</button>

</form>

<button (click) = 'loadUsers()'>Load Users</button>
<ul>
    <li *ngFor = 'let user of userData'>{{user.uname}} - {{user.email}}</li>
</ul>

